h1{text-align:center;font-weight:400;font-family:verdana;background:#603;padding:5px 15px;color:#fff;display:block;border-radius:30px}
body{background-color:#DCDCDC;font-size:large;font-family:Verdana}
#converted,td,th{font-size:normal}
td,th{vertical-align:top;text-align:right}
#converted{color:green;font-weight:700}